.hero_footer {
  height: 8.5625rem;
  padding: 1.875rem 8.75rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .para {
    p {
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.25rem;
      color: #7b7b7b;
      width: 11.25rem;
    }
    & + div {
      display: grid;
      grid-template-columns: repeat(6, auto);
      // justify-items: center;
      img {
        margin-left: 4rem;
      }
    }
  }
}
