.EmSignIn {
  display: flex;
  section {
    // height: 51.375rem;
    &.image_section {
      width: 38%;
      background: url(../../../../public/images/side_image3.png);
      object-fit: cover;
      background-repeat: no-repeat;
    }
    &.text_section {
      width: 62%;
      padding-inline: 7.125rem 8.75rem;
      a {
        text-decoration: none;
      }
      hr {
        border: none;
        border-bottom: 1px solid #084482;
      }
      .text_section_header {
        h2 {
          font-weight: 500;
          font-size: 1.7rem;
          line-height: 2.625rem;
          color: #084482;
          padding-right: 40%;
          margin-block: 5rem 0.5rem;
        }
        p {
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 1.5rem;
          color: #797c83;
          margin-bottom: 2.4375rem;
        }
      }
      .text_section_formWrap {
        form {
          margin-top: 2.5rem;
          main {
            margin-bottom: 1.125rem;
            & > div {
              display: flex;
              flex-direction: column;
              label {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: #1f2430;
              }
              input {
                padding: 1rem 1.5625rem;
                margin-block: 0.5rem 1.5rem;
                font-size: 1rem;
                border-radius: 5px;
                border: 1.5px solid #b5b5b5;
                &:focus {
                  border: 1.5px solid #337ab7;
                  outline: none;
                }
              }
              &.invalid {
                input {
                  border-color: red;
                  background: #fbdada;
                }
              }
            }
            & + div {
              display: flex;
              justify-content: space-between;
              & > div {
                display: flex;
                align-items: center;
                input {
                  border: 1.5px solid #b5b5b5;
                  margin-right: 0.5rem;
                }
                a {
                  color: #084482;
                }
              }
              & a {
                color: #495057;
              }
            }
          }
          .EmSignIn_btn {
            background: #00aeff;
            color: #ffffff;
            border-radius: 5px;
            width: 100%;
            padding-block: 1rem;
            margin-block: 2.625rem 3.25rem;
            font-size: 1.3rem;
            &:hover {
              background-color: rgb(2, 131, 190);
            }
            &:disabled,
            :focus:disabled,
            :hover:disabled,
            :active:disabled {
              background: #ccc;
              border-color: #ccc;
              color: #666666;
              cursor: not-allowed;
            }
          }
          & + div {
            display: flex;
            align-items: center;
            margin-bottom: 2.6875rem;
            hr {
              width: 45%;
            }
            p {
              margin-inline: 1.5rem;
            }
          }
        }
      }
      .EmSignIn_logos {
        text-align: center;
        margin-bottom: 1.5rem;
        img:nth-child(2) {
          padding-left: 2rem;
        }
        & + p {
          text-align: center;
          color: #495057;
          margin-bottom: 1rem;

          a {
            color: #00aeff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .EmSignIn {
    section {
      &.text_section {
        padding-inline: 5rem;
      }
    }
  }
}

@media screen and (max-width: 897px) {
  .EmSignIn {
    section {
      &.image_section {
        display: none;
      }
      &.text_section {
        width: 100%;
        padding-inline: 1rem;
        .text_section_header {
          h2 {
            margin-top: 2.5rem;
          }
        }
      }
    }
  }
}
