.gradSignUp {
  display: flex;
  section {
    // height: 65.75rem;
    &.image_section {
      width: 38%;
      background: url(../../../../public/images/Rectangle562.png);
      object-fit: cover;
      background-repeat: no-repeat;
    }
    &.text_section {
      width: 62%;
      padding-inline: 7.125rem 8.75rem;
      a {
        text-decoration: none;
      }
      hr {
        border: none;
        border-bottom: 1px solid #084482;
      }
      .text_section_header {
        h2 {
          font-weight: 500;
          font-size: 1.7rem;
          line-height: 2.625rem;
          color: #084482;
          padding-right: 40%;
          margin-block: 3rem 0.5rem;
        }
        p {
          font-weight: 400;
          font-size: 1.125rem;
          line-height: 1.5rem;
          color: #b5b5b5;
          padding-right: 40%;
          margin-bottom: 3rem;
        }
      }
      .text_section_formWrap {
        ul {
          list-style: none;
          display: flex;
          li {
            width: 50%;
            text-align: center;
            margin-bottom: 0.6rem;
            .link {
              font-weight: 400;
              font-size: 1rem;
              line-height: 1.5rem;
              color: #aaaaaa;
              padding-bottom: 0.5rem;
              padding-inline: 2rem;

              &.active {
                font-weight: 600;
                color: #1f2430;
                border-bottom: 4px solid #084482;
              }
            }
          }
        }
        form {
          margin-top: 2.5rem;
          main {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1.5rem 1rem;
            margin-bottom: 1.125rem;
            & > div {
              display: flex;
              flex-direction: column;
              label {
                font-weight: 400;
                font-size: 1rem;
                line-height: 1.5rem;
                color: #1f2430;
              }
              input {
                padding: 1rem 1.5625rem;
                margin-top: 0.5rem;
                font-size: 1rem;
                border-radius: 5px;
                border: 1.5px solid #b5b5b5;
                &:focus {
                  border: 1.5px solid #337ab7;
                  outline: none;
                }
              }
            }
            & + div {
              display: flex;
              align-items: center;
              input {
                border: 1.5px solid #b5b5b5;
                margin-right: 0.5rem;
              }
              a {
                color: #084482;
              }
            }
          }
          .gradSignUp_btn {
            background: #00aeff;
            color: #ffffff;
            border-radius: 5px;
            width: 100%;
            padding-block: 1rem;
            margin-block: 2.625rem 3.25rem;
            &:hover {
              background-color: rgb(2, 131, 190);
            }
          }
          & + div {
            display: flex;
            align-items: center;
            margin-bottom: 2.6875rem;
            hr {
              width: 45%;
            }
            p {
              margin-inline: 1.5rem;
            }
          }
        }
      }
      .gradSignUp_logos {
        text-align: center;
        margin-bottom: 1rem;
        img:nth-child(2) {
          padding-left: 2rem;
        }
        & + p {
          text-align: center;
          color: #495057;
          padding-bottom: 0.5rem;
          a {
            color: #00aeff;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1450px) {
  .gradSignUp {
    section {
      &.text_section {
        padding-inline: 2rem;
        .text_section_header {
          h2 {
            padding-right: 10%;
            margin-block: 3rem 0.5rem;
          }
          p {
            padding-right: 10%;
            margin-bottom: 3rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 897px) {
  .gradSignUp {
    section {
      &.image_section {
        display: none;
      }
      &.text_section {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 616px) {
  .gradSignUp {
    section {
      &.text_section {
        padding-inline: 1rem;
        .text_section_formWrap {
          ul {
            flex-direction: column;
            li {
              width: 100%;
              text-align: left;
              .link {
                line-height: 3rem;
                padding-inline: 0;
              }
            }
          }
          form {
            main {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
  }
}
